*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --gold: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --green: hsl(179, 100%, 13%);
  --lf: "Lexend Deca", sans-serif; /* lf = Lexend Font  */
  --bf: "Big Shoulders Display", cursive; /* bf = Big Shoulders Font  */
}
body {
  font-size: 15px;
  font-family: var(--lf);
  font-weight: 400;
}
h1 {
  color: hsl(0, 0%, 95%);
  font-family: var(--bf);
  font-weight: 700;
  text-transform: uppercase;
}
body,
button {
  background-color: hsl(0, 0%, 95%);
}
#one,
#two,
#three {
  padding: 32px;
}
#grid {
  display: grid;
  margin: 6vh 4vw;
  border-radius: 8px;
  height: 1050px; /* every section gets 350px height */
  box-shadow: 0px 0px 20px 1px gray;
}
#one {
  background-color: var(--gold);
  border-radius: 8px 8px 0 0;
}
#two {
  background-color: var(--cyan);
}
#three {
  background-color: var(--green);
  border-radius: 0 0 8px 8px;
}
.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}
button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 24px;
  padding: 12px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#one button {
  color: var(--gold);
}
#two button {
  color: var(--cyan);
}
#three button {
  color: var(--green);
}
button:active {
  transform: scale(0.95);
}
footer {
  text-align: center;
  color: var(--cyan);
}
a {
  color: var(--gold);
}
@media (min-width: 768px) {
  #grid {
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
  }
  #one {
    border-radius: 8px 0 0 8px;
  }
  #three {
    border-radius: 0 8px 8px 0;
  }
  #one,
  #two,
  #three {
    padding: 64px;
  }

  #one button:hover {
    background-color: var(--gold);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    box-shadow: 0px 0px 10px 1px black;
  }
  #two button:hover {
    background-color: var(--cyan);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    box-shadow: 0px 0px 10px 1px black;
  }
  #three button:hover {
    background-color: var(--green);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    box-shadow: 0px 0px 10px 1px black;
  }
}
